/* Body */

* 
{
  box-sizing: border-box;
}

body
{																							/* Définition police */
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}


@media all and (max-width: 780px)
{
	

	body
	{
		width: 100%;
	}
}

@media (min-width: 781px) and (max-width: 900px)
{
	body
	{
		width: 100%;
	}
}


main
{
	margin: 20px;
}

@media all and (max-width: 780px)
{
	main
	{
		width: 100%;
		margin: 0px;
	}
}


/* Bandeau ou header */


#header 
{																				/* Aspect et positionnement de la partie bandeau */
  width: 100%;
  display: flex;
  list-style-type: none;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 0px;
  padding-left: 0px;
 }

#header svg
{																			/* Logo de l'entreprise */
	padding-top: 10px;
	margin: 0px;
	padding-left: 20px;
	height: 60px;
  width: 120px;
  align-self: flex-start;
}


nav-bar
{
	position: relative;
	display: flex;
	flex-wrap: wrap-reverse;
}

#menu_hébergement
{
	margin-right: 60px;
	padding-top: 30px;
	text-align: center;
}

#menu_activité
{
	margin-right: 60px;
	padding-top: 30px;
	text-align: center;
}

#inscription
{
	padding-top: 30px;
	margin-right: 30px;
}

a:link 
{																							/* Aspect et positionnement des liens de la nav-bar (nav et div) */		 
 text-decoration:none; 
} 

nav-bar #menu_hébergement a
{																														
	color: black;
}

nav-bar #menu_activité a
{																														
	color: black;
}
	
nav-bar #inscription a
{																							/* Aspect du liens S'inscrire */									
	color: #0065FC;
	font-weight: bold;
}

nav-bar #menu_hébergement:hover
{																							/* Aspect des liens Hébergements et Activités au survol */										
	border-top: 2px solid #0065FC ;
	padding-top: 28px;
	color: #0065FC;
}

nav-bar #menu_activité:hover
{																										
	border-top: 2px solid #0065FC ;
	padding-top: 28px;
	color: #0065FC;
}


@media (min-width: 780px) and (max-width: 1200px)
{
	header
	{
		width: 100%;
		padding-left: 0px;
	}
}

@media all and (max-width: 780px)
{
	header
	{
		width: 100%;
		flex-direction: column;
		padding-left: 0px;
	}
	
	svg
	{
		position: absolute;
		padding-bottom: 15px;
		padding-top: 30px;
	}

	nav-bar
	{
		width: 100%;
		justify-content: left;
    flex-wrap: wrap-reverse;
  }
	
	#menu_hébergement
	{
		width: 50%;
		text-align: center;
		padding-bottom: 18px;
		margin-right: 0px;
		border-bottom: 3px solid #F2F2F2;
	}

	#menu_activité
	{
		width: 50%;
		margin-right: 0px;
		text-align: center;
		padding-bottom: 18px;
		border-bottom: 3px solid #F2F2F2;
	}

	#inscription
	{
		margin-left: 80%;
		padding-top: 20px;
		justify-content: flex-start;
	}

	nav-bar #menu_hébergement:hover
	{																											/* Aspect des liens Hébergements et Activités au survol */										
		border-bottom: 3px solid #0065FC ;
		padding-bottom: 20px;
		border-top: none;
	}

	nav-bar #menu_hébergement a:hover
	{
		color: #0065FC;
	}																										

	nav-bar #menu_activité:hover
	{																										
		border-bottom: 3px solid #0065FC ;
		padding-bottom: 20px;
		border-top: none;
	}

	nav-bar #menu_activité a:hover
	{
		color: #0065FC;
	}	

}



/* Formulaire */

form
{
	width: 100%;
	display: flex;																		/* Positionnement du formulaire */
	align-items: center;
	margin-bottom: 20px;
}

form i
{																							/* Aspect et positionnement de l'icône du formulaire */
	background: #F2F2F2;
	background-size: cover ;
	margin: 10px 0px 10px 0px;
	padding: 13px 12px 13px 13px;
	border-radius: 12px 0px 0px 12px;
}

form input
{																					/* Aspect et positionnement de l'input du formulaire */
	border: 1px solid #F2F2F2 ;
	color: black;
	font-weight: bold;
	padding: 12px 14px 12px 10px;
}

form .rechercher
{																				/* Aspect et positionnement du bouton du formulaire */
	visibility: visible;
	color: white;
	font-weight: bold;
	text-align: center;
	background: #0065FC;
	background-size: cover;
	padding: 11px 10px 11px 10px;
	border-radius: 0px 12px 12px 0px;
}

form .loupe
{	
	visibility: hidden;
	padding: 10px;
	border-radius: 0px 12px 12px 0px;
}

form button:hover
{																				/* Aspect au survol du bouton du formulaire */
	box-shadow: 2px 2px 5px grey;
}


@media all and (max-width: 780px)
{
	form
	{
		width: 100%;
		font-size: 1.0em;
	}

	form i
	{
		font-size: 1.0em;
		padding: 15px 15px 15px 18px;
		border-radius: 18px 0px 0px 18px;
	}

	form input
	{
		font-size: 1.0em;
		margin-top: 8px;
		margin-bottom: 8px;
		padding-right: 0px;
	}

	form button
	{
		font-size: 1.0em;
	}

	form .rechercher
	{
		width: 0px;
		visibility: hidden;
		padding: 0px;
		color: transparent;
		border-radius: 0px;
		border: none;

	}

	form .loupe
	{		
		visibility: visible;
		width: 50px;
		border-radius: 18px 18px 18px 18px;
		padding: 6px 0px 6px 0px;
		background: #0065FC;
		background-size: cover ;
		border: none;
	}	

	form .loupe i
	{
		padding: 0px;
		border-radius: 0px;
		background: #0065FC;
		background-size: cover ;
	}	
}


@media (min-width: 900px) and (max-width: 1200px)
{
	form
	{
		width: 100%;
	}
}


/* Choix de la ville d'hébergement */

@media all and (max-width: 780px)
{
	
	#titre_principal
	{
		margin: 0px 20px 0px 20px;
	}

	#saisie_destination
	{
		width: 100%;
		margin: 0px 20px 0px 20px;
	}

	#disponibilité_sur_destination
	{
		margin: 0px 20px 0px 20px;
	}

}	



/* Filtres */

#filtres
{																						/* Aspect et positionnement de la partie Filtres */
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

#filtres_items
{																			/* Positionnement des éléments de la partie Filtres */
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#filtres p
{																					/* Aspect et positionnement du texte de présentation de la partie Filtres */ 
	font-weight: bold;
	margin-right: 40px;
}

.filtre_sélecteur
{																			/* Aspect et positionnement des filtres de sélection */
	margin-right: 40px;
	border: 2px solid #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	text-align: center;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}

#filtres_items i
{																			/* Icône des boutons de .filtre_sélecteur dans #filtres_items */
	background: #DEEBFF;
	background-size: cover;
	padding: 15px 15px 15px 15px;
	border-radius: 50px 50px 50px 50px;
}	

.filtre_sélecteur button
{																			/* Boutons de .filtre_sélecteur */
	font-weight: bold;
	text-align: center;
	background: white ;
	border: none;
	padding: 12px 20px 11px 5px;
	border-radius: 0px 50px 50px 0px;
}

.filtre_sélecteur button:hover
{																			/* Effet au survol sur les boutons de .filtre_sélecteur */
  background: #0065FC;
  border-radius: 0px 50px 50px 0px;
  padding: 15px 20px 14px 5px;
  box-shadow: 2px 2px 5px grey;
}

#disponibilité_sur_destination
{																			/* Texte sur la disponibilité dans filtres */
	display: flex;
	align-items: center;
}

#disponibilité_sur_destination i
{																			/* Icône du texte sur la disponibilité dans filtres */
	border: 2px solid #F2F2F2;
	font-size: 11px;
	padding: 4px 8px 4px 8px;
	border-radius: 20px 20px 20px 20px;
	margin-right: 10px;
}


@media all and (max-width: 780px)
{
	
	#filtres
	{
		margin: 0px 20px 0px 20px;
	}

	#filtres_items
	{
		justify-content: flex-start;
		margin-bottom: 10px;
	}

	#filtre_sélecteur
	{
		margin-bottom: 10px;
	}

	.filtre_sélecteur button
	{	
		font-size: 1.05em;
	}

	.filtre_sélecteur button:hover
	{																										
  background: #0065FC;
  border-radius: 0px 50px 50px 0px;
  padding: 13px 20px 13px 5px;
  box-shadow: 2px 2px 5px grey;
	}

	#disponibilité_sur_destination
	{
		align-items: center;
	}

	#disponibilité_sur_destination i
	{	
		font-size: 1.0em;
	}
}


@media (min-width: 781px) and (max-width: 1200px)
{
	#filtres
	{
		width: 100%;
	}
}



/* Section choix* (Hébergements à Marseille + Les plus populaires */

#choix
{																							/* Disposition des blocs Hébergements à Marseille et Les plus populaires dans la section choix */
	display: flex;
	justify-content: space-between;																					
	margin-top: 20px;
	flex-wrap: wrap;
}

#choix h3
{
	margin-top: 0px;
	margin-bottom: 0px;
}


@media (min-width: 781px) and (max-width: 900px)
{
	#choix
	{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
}

@media all and (max-width: 780px)
{
	#choix
	{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
}



/* Hébergements à Marseille */

#hébergements_marseille
{																						/* Fond et disposition dans Hébergements à Marseille */
	width: 73%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	padding: 0px 20px 20px 20px;
}

#hébergements_dispo_ligne_1
{																						/* Disposition en deux lignes des articles de Hébergements à Marseille - Ligne 1 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#hébergements_dispo_ligne_2
{																						/* Disposition en deux lignes des articles de Hébergements à Marseille - Ligne 2 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#hébergements_marseille article 
{																						/* Cartes d'hébergements pour Hébergements à Marseille */
	width: auto;
	border: 1px solid #F2F2F2;
	background: white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 3px 3px #F2F2F2;
	width: 260px;
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#hébergements_marseille a:link 
{ 																					/* Aspect lien des cartes d'hébergements */ 
 text-decoration:none;
} 

#hébergements_marseille a
{																						/* Couleur lien des cartes d'hébergements */
color: black; 
}

#hébergements_marseille article img
{																						/* Images des cartes d'hébergements pour Hébergements à Marseille */
	width: 100%;
	height: 55%;
	border-radius: 20px 20px 0px 0px;
	padding: 5px 5px 0px 5px;
	object-fit: cover;
}

#hébergements_marseille article .infos_hébergement
{																											/* Blocs infos des cartes d'hébergements pour Hébergements à Marseille */
	width: 90%;
	height: 30px;
	padding: 10px 5px 5px 15px;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	font-size: 75%;
}

#hébergements_marseille article p
{																						
	margin-top: 0px;
	margin-bottom: 5px;
}

#hébergements_marseille article note
{																						/* Notation dans les cartes d'hébergements */
	display: flex;
}

#hébergements_marseille p
{
	font-weight: bold;
	font-size: 1.1em;
}



@media all and (max-width: 780px)
{
	#hébergements_marseille
	{
		width: 100%;
		background: white;
		margin-top: 10px;
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

	#hébergements_marseille h2
	{
		margin-top: 10px;
		margin-bottom: 15px;
	}

	#hébergements_dispo_ligne_1
	{
		align-items: center;
		width: 100%;
		margin-bottom: 0px;
	}

	#hébergements_dispo_ligne_2
	{
		align-items: center;
		width: 100%;
	}

	#hébergements_marseille a
	{
		margin-bottom: 15px;
		width: 100%;
	}

	#hébergements_marseille article 
	{
		width: 100%;
		height: 200px;
		font-size: 1.1em;
	}

	#hébergements_marseille article img
	{
		width: 100%;
		padding: 5px;
		height: 65%;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	#hébergements_marseille article .infos_hébergement
	{																											
		width: 100%;
		height: 25%;
		padding: 3px 5px 10px 10px;
		display: flex;
		font-size: 0.7em;
	}

	#hébergements_marseille article p
	{
		padding-bottom: 5px;
	}	

	#hébergements_dispo_ligne_1
	{	
		flex-direction: column;
	}

	#hébergements_dispo_ligne_2
	{
		flex-direction: column;
	}

	#hébergements_marseille p
	{
		margin-top: 0px;
	}

}


@media (min-width: 781px) and (max-width: 900px)
{
	#hébergements_marseille
	{
		width: 100%;
		border-radius: 20px 20px 20px 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}

	#hébergements_dispo_ligne_1
	{	
		width: 100%;
		flex-direction: row;
	}

	#hébergements_dispo_ligne_2
	{
		width: 100%;
		flex-direction: row;
	}
	
	#hébergements_marseille article 
	{
		width: 230px;
	}

	#hébergements_marseille article img
	{
		padding: 5px;
		height: 55%;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

}

@media (min-width: 900px) and (max-width: 1200px)
{
	#hébergements_marseille
	{
		width: 75%;
		border-radius: 20px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: column;
	}

	#hébergements_marseille h2
	{
		font-size: 1.1em;
	}

	#hébergements_dispo_ligne_1
	{	
		width: 100%;
		flex-direction: row;
	}

	#hébergements_dispo_ligne_2
	{
		width: 100%;
		flex-direction: row;
	}

	#hébergements_marseille article 
	{
		width: 200px;
	}

	#hébergements_marseille article img
	{
		padding: 5px;
		height: 55%;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	#hébergements_marseille p
	{
		margin-top: 20px;
	}
}



/*Les plus populaires*/

#choix_populaires
{																				/* Fond pour Les plus populaires */
	background: #F2F2F2;
	padding: 0px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	width: 25%;
	display: flex;
	flex-wrap: wrap;
}

#choix_populaires a:link 
{							 													/* Aspect des liens des cartes d'hébergements pour Les plus populaires */ 
 text-decoration:none;
} 

#choix_populaires a
{																				/* Couleur des liens des cartes d'hébergements pour Les plus populaires */
color: black; 
}

#les_plus_populaires 
{																				/* Titre les_plus_populaires */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#les_plus_populaires h2
{
	margin-top: 10px;
	margin-bottom: 10px;
}	

#hébergements_populaires 
{																				/* Disposition dans hébergements_populaires */
	display: flex;
	flex-direction: column;																					
	justify-content: space-between;
	height: 80%;
}


#hébergements_populaires article 
{																				/* Cartes d'hébergements pour Les plus populaires */
	border: 1px solid #F2F2F2;
	background: white;
	padding: 5px 0px 2px 5px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 3px 3px 3px #F2F2F2;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: flex-start;
}

#hébergements_populaires article img
{																				/* Images des cartes d'hébergements pour Les plus populaires */
	flex: 1 1 40%;
	width: 32%;
	height: 98%;
	border-radius: 13px 0px 0px 13px;
	object-fit: cover;
}

#hébergements_populaires article .infos_hébergement
{																													/* Blocs infos des cartes d'hébergements pour Les plus populaires */
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 70%;
}



@media all and (max-width: 780px)
{
	
	#choix_populaires
	{
		width: 100%;
		padding: 0px 20px 10px 20px;
		border-radius: 0px;
		height: 100%;
		margin-top: 20px;
		margin-bottom: 20px;	
	}

	#les_plus_populaires 
	{
		width: 100%;
		height: 80px;
	}

	#les_plus_populaires h2 
	{
		margin: 0px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
		
	#hébergements_populaires 
	{
		width: 100%;
		padding-right: 0px;
	}

	#hébergements_populaires a
	{
		margin-bottom: 20px;
		width: 100%;
	}

	#hébergements_populaires article 
	{
		width: 100%;
		height: 150px;
		font-size: 100%;
	}

	#hébergements_populaires article .infos_hébergement
	{
		font-size: 90%;
		height: 100%;
		padding: 15px;
		padding-top: 5px;
	}

	#hébergements_populaires article .infos_hébergement p
	{
		margin-top: 10px;
		margin-bottom: 40px;
	}

}


@media (min-width: 781px) and (max-width: 900px)
{
	#choix_populaires
	{
		width: 100%;
		border-radius: 20px 20px 20px 20px;
		margin-bottom: 20px;
	}

	#hébergements_populaires 
	{
		width: 100%;
		flex-direction: row;
	}

	#hébergements_populaires article 
	{
		width: 230px;
		height: 180px;
		flex-direction: column;
		justify-content: space-between;
	}

	#hébergements_populaires article img
	{																				
		width: 100%;
		height: 100px;
		border-radius: 13px 13px 0px 0px;
		object-fit: cover;
		padding-right: 5px;
	}

	#hébergements_populaires article .infos_hébergement
	{																													
		display: flex;
		height: 20%;
		font-size: 68%;
		padding-top: 5px;
	}

	#hébergements_populaires article .infos_hébergement p
	{
		margin-top: 0px;
		margin-bottom: 10px;
	}

}

@media (min-width: 900px) and (max-width: 1200px)
{
	#choix_populaires
	{
		width: 24%;
	}

	#choix_populaires h2
	{
		font-size: 1.1em;
		margin-bottom: 5px;
	}

	#hébergements_populaires a
	{
		margin-bottom: 20px;
	}

	#hébergements_populaires article 
	{
		width: 100%;
		height: 130px;
		flex-direction: column;
		justify-content: space-between;
	}

	#hébergements_populaires article img
	{
		width: 100%;
		height: 55%;
		padding: 0px 5px 0px 0px;
		border-radius: 13px 13px 0px 0px;
		object-fit: cover;
	}

	#hébergements_populaires article .infos_hébergement
	{																													
		display: flex;
		height: 25%;
		font-size: 0.6em;
		padding-top: 2px;
		padding-left: 5px;
		padding-right: 5px;
	}

	#hébergements_populaires article .infos_hébergement p
	{
		margin-top: 0px;
		margin-bottom: 4px;
	}

}




/* Activités */

#activités
{																							/* Disposition bloc activités */
	margin-top: 20px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

#blocs_activités 
{																							/* Disposition des éléments du bloc activités */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#activités a:link
{																						/* Aspect liens partie Activités */
	text-decoration:none;
} 

#activités a
{																						/* Couleur liens partie Activités */
	color: black; 
}

#blocs_activités div
{																						/* Disposition des éléments des blocs dans le bloc activités*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

#blocs_activités h3
{																						/* Ajustement taille et position des titres des éléments du bloc activités */
	font-size: 80%;
	margin-left: 10px;
}

.unique
{																						/* Positionnement et aspect des colonnes à élément unique */
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 3px 3px 3px #F2F2F2;
	width: 250px;
	height: 450px;
	flex-wrap: nowrap;
}

.unique img
{																						/* Positionnement et aspect des photos dans les colonnes à élément unique */
	width: 100%;
	height: 90%;
	border-radius: 20px 20px 0px 0px;
	flex-wrap: wrap;
	object-fit: cover;
}

.double
{																						/* Positionnement et aspect des colonnes à 2 éléments */
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 3px 3px 3px #F2F2F2;
	width: 250px;
	height: 200px;
	flex-wrap: nowrap;
}

.double img
{																						/* Positionnement et aspect des photos dans les colonnes à 2 éléments */
	width: 100%;
	height: 80%;
	border-radius: 20px 20px 0px 0px;
	flex-wrap: nowrap;
	object-fit: cover;
}




@media all and (max-width: 530px)
{
	#activités
	{
		width: 100%;
		margin: 0px;
	}

	#activités h2
	{
		margin-left: 20px;
		margin-bottom: 25px
	}

	#blocs_activités
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-content: center;
		margin-bottom: 20px;
	}

	#blocs_activités h3
	{
		margin-top: 15px;
		font-size: 1.0em;
		padding-left: 5px;
	}

	.blocs_activités_unique 
	{
		width: 100%;
		height: 200px;
		align-items: center;
	}

	.blocs_activités_unique a
	{
		width: 300px;
		height: 100%;
	}

	.blocs_activités_unique img
	{
		height: 70%;
	}

	.unique
	{
		width: 100%;
		height: 100%;
	}

	.bloc_activités_double
	{
		width: 100%;
		margin-top: 20px;
		align-items: center;
	}

.bloc_activités_double a
	{
		width: 300px;
		margin-bottom: 20px;
	}

.double
	{
		width: 100%;
		flex-wrap: wrap;
	}

.double img
	{
		height: 70%;
	}

}


@media (min-width: 530px) and (max-width: 900px)
{
	#activités
	{	
		display: flex;
		width: 100%;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	#activités h2
	{
		margin-left: 20px;
		margin-bottom: 10px;
	}	

	#blocs_activités
	{
		width: 100%;
		margin: 20px;
		flex-direction: row;
	}

	#blocs_activités h3
	{
		
		font-size: 0.9em;
	}	

	.blocs_activités_unique 
	{
		width: 48%;
		margin-bottom: 40px;
	}

	.blocs_activités_unique a
	{
		height: 100%;
	}

	.bloc_activités_double 
	{
		width: 45%;
	}

	.bloc_activités_double a
	{
		margin-bottom: 20px;
	}

	.unique img
	{
		width: 100%;
		height: 87%;
		object-fit: cover;
	}

	.double img
	{
		width: 100%;
		height: 75%;
	}

	.unique
	{
		width: 100%;
		height: 100%;
		flex-direction: column;
		margin-bottom: 20px;
		flex-wrap: nowrap;
	}

	.double
	{
		width: 100%;
		height: 200px;
		flex-direction: column;
		margin-bottom: 20px;
		flex-wrap: nowrap;
	}
}

@media (min-width: 900px) and (max-width: 1200px)
{
	#blocs_activités 
	{																							
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding-bottom: 20px;
	}

	.unique
	{
		width: 200px;
	}

	.double
	{
		width: 220px;
	}

}


/* Footer */

footer
{																							/* Positionnement et comportement du footer */
	width: 100%;
	background: #F2F2F2;
	background-size: cover ;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

footer div
{																							/* Disposition des blocs d'éléments du footer */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: calc(80% / 3);
	margin-right: 30px;
	justify-content: flex-start;
}

footer h4
{																							/* Aspect et positionnement des titres des blocs d'éléments du footer */
	font-weight: bold;
	margin: 20px 40px 0px 40px;
}

footer ul
{																							/* Aspect des ul du footer */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer li
{																							/* Comportement des li du footer */
	list-style: none;
	padding: 5px;
} 

@media all and (max-width: 780px)
{

	footer
	{
		flex-direction: column;
	}

	
	footer div
	{
		width: 100%;
	}

}


@media (min-width: 781px) and (max-width: 1200px)
{
	footer
	{
		width: 100%;
		display: flex;
	}	
}

