/* Body */

body{																							/* Définition police */
	
	width: 1200px;
	font-family: 'Raleway', sans-serif;
	margin: 40px;
}


@media (min-width: 370px) and (max-width: 780px)
{
	body
	{
		width: 100%;
		margin-left: 0px;
		margin-right: 0;
	}
}

@media(min-width: 781px) and (max-width: 1200px)
{
	body
	{
		width: 100%;
	}
}



/* Bandeau ou header */


#bandeau {																				/* Aspect et positionnement de la partie bandeau */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: #0065FC;
    max-width: 1120px;
}

#bandeau svg{																			/* Logo de l'entreprise */
	max-width: 124px;
	height: 50px;
	align-self: flex-start;
}

a:link {																					/* Aspect et positionnement des liens de la nav-bar (nav et div) */		 
 text-decoration:none; 
} 

nav a{																														
	color: black;
	padding: 38px 30px 0px 30px;
}
											
nav a:hover{																			/* Aspect des liens Hébergements et Activités au survol */										
	border-top: 2px solid #0065FC ;
	color: #0065FC;
}

#bandeau div a{																		/* Aspect du liens S'inscrire */									
	color: #0065FC;
	font-weight: bold;
	margin-left: 30px;
}


@media (min-width: 370px) and (max-width: 780px)
{
	
	#bandeau
	{
		width: 100%;
		height: 100px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	nav-bar 
	{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-self: flex-end;
		width: 100%;
		margin-top: 20px;
	}

	#bandeau div
	{
		justify-content: flex-start;
	}

	nav a:hover{																			/* Aspect des liens Hébergements et Activités au survol */										
	border-bottom: 2px solid #0065FC ;
	border-top: none;
	color: #0065FC;
	}

}


/* Choix de la ville d'hébergement */

@media (min-width: 370px) and (max-width: 780px)
{
	#hébergements div{
		margin: 0px 20px 0px 20px;
	}
}	


/* Formulaire */

form{
	display: flex;																		/* Positionnement du formulaire */
	align-items: center;
	margin-bottom: 20px;
}

form i{																							/* Aspect et positionnement de l'icône du formulaire */
	background: #F2F2F2;
	background-size: cover ;
	margin: 10px 0px 10px 0px;
	padding: 13px 12px 13px 13px;
	border-radius: 12px 0px 0px 12px;
}

form input{																					/* Aspect et positionnement de l'input du formulaire */
	border: 1px solid #F2F2F2 ;
	color: black;
	font-weight: bold;
	padding: 12px 14px 12px 10px;
}

form button{																				/* Aspect et positionnement du bouton du formulaire */
	color: white;
	font-weight: bold;
	text-align: center;
	background: #0065FC;
	background-size: cover;
	padding: 11px 10px 11px 10px;
	border-radius: 0px 12px 12px 0px;
}

form button:hover{																	/* Aspect au survol du bouton du formulaire */
	box-shadow: 2px 2px 5px grey;
}


@media (min-width: 370px) and (max-width: 780px)
{

	form
	{
		width: 100%;
	}

	form i
	{
		font-size: 1.2em;
	}

	form input
	{
		font-size: 1.0em;
	}

	form button
	{
		font-size: 1.0em;

	}	

	form button:hover
	{																	/* Aspect au survol du bouton du formulaire */
	box-shadow: 2px 2px 5px grey;
	}
}




/* Filtres */

#filtres{																						/* Aspect et positionnement de la partie Filtres */
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

#filtres_items{																			/* Positionnement des éléments de la partie Filtres */
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#filtres p{																					/* Aspect et positionnement du texte de présentation de la partie Filtres */ 
	font-weight: bold;
	margin-right: 40px;
}

.filtre_sélecteur{																	/* Aspect et positionnement des filtres de sélection */
	margin-right: 40px;
	border: 2px solid #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	text-align: center;
	flex-wrap: nowrap;
}

#filtres_items i{																		/* Icône des boutons de .filtre_sélecteur dans #filtres_items */
	background: #DEEBFF;
	background-size: cover;
	padding: 15px 15px 15px 15px;
	border-radius: 50px 50px 50px 50px;
}	

.filtre_sélecteur button{														/* Boutons de .filtre_sélecteur */
	font-weight: bold;
	text-align: center;
	background: white ;
	border: none;
	padding: 12px 20px 11px 5px;
	border-radius: 0px 50px 50px 0px;
}

.filtre_sélecteur button:hover{											/* Effet au survol sur les boutons de .filtre_sélecteur */
  background: #0065FC;
  border-radius: 0px 50px 50px 0px;
  padding: 16px 20px 14px 5px;
  box-shadow: 2px 2px 5px grey;
}

#disponibilité_sur_destination{											/* Texte sur la disponibilité dans filtres */
	display: flex;
	align-items: center;
}

#disponibilité_sur_destination i{										/* Icône du texte sur la disponibilité dans filtres */
	border: 2px solid #F2F2F2;
	font-size: 11px;
	padding: 4px 8px 4px 8px;
	border-radius: 20px 20px 20px 20px;
	margin-right: 10px;
}

@media (min-width: 370px) and (max-width: 780px)
{
	#filtres_items
	{
		justify-content: flex-start;
	}

	#disponibilité_sur_destination
	{
		align-items: center;
	}

	#disponibilité_sur_destination i
	{	
		font-size: 1.0em;
	}
}



/* Section choix* (Hébergements à Marseille + Les plus populaires */

#choix{																							/* Disposition des blocs Hébergements à Marseille et Les plus populaires dans la section choix */
	display: flex;
	justify-content: space-between;																					
	margin-top: 20px;
	flex-wrap: wrap-reverse;
}

/* Hébergements à Marseille */

#hébergements_marseille{														/* Fond et disposition dans Hébergements à Marseille */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 65%;
	padding: 0px 20px 20px 20px;
}

#hébergements_dispo_ligne_1{												/* Disposition en deux lignes des articles de Hébergements à Marseille - Ligne 1 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#hébergements_dispo_ligne_2{												/* Disposition en deux lignes des articles de Hébergements à Marseille - Ligne 2 */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#hébergements_marseille article {										/* Cartes d'hébergements pour Hébergements à Marseille */
	border: 1px solid #F2F2F2;
	background: white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 5px grey;
	width: 220px;
	height: 170px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#hébergements_marseille a:link { 										/* Aspect lien des cartes d'hébergements */ 
 text-decoration:none;
} 

#hébergements_marseille a{													/* Couleur lien des cartes d'hébergements */
color: black; 
}

#hébergements_marseille article img{								/* Images des cartes d'hébergements pour Hébergements à Marseille */
	width: 96%;
	height: 55%;
	border-radius: 20px 20px 0px 0px;
	padding: 5px 5px 0px 5px;
}

#hébergements_marseille article .infos_hébergement{								/* Blocs infos des cartes d'hébergements pour Hébergements à Marseille */
	width: 90%;
	height: 30px;
	padding: 0px 5px 5px 15px;
	display: flex;
	flex-direction: column;
	font-size: 80%;
}

#hébergements_marseille article note{								/* Notation dans les cartes d'hébergements */
	display: flex;
}

#hébergements_marseille p{
	font-weight: bold;
}


@media (min-width: 370px) and (max-width: 780px)
{
	#hébergements_marseille{
	width: 100%;
	}

	#hébergements_marseille article{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}


@media (min-width: 370px) and (max-width: 780px)
{
	#hébergements_marseille{
		width: 100%;
		background: white;
		margin-top: 20px;
	}

	#hébergements_marseille article {
		width: 100%;
		height: 230px;
		font-size: 1.1em;
	}

	#hébergements_dispo_ligne_1{	
		flex-direction: column;
	}

	#hébergements_dispo_ligne_2{
		flex-direction: column;
	}

	#hébergements_marseille article img{
		max-width: 100%;
	}	
}



/*Les plus populaires*/

#choix_populaires{																	/* Fond pour Les plus populaires */
	background: #F2F2F2;
	padding: 0px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	width: 25%;
	display: flex;
	flex-wrap: wrap;
}

#choix_populaires a:link { 													/* Aspect des liens des cartes d'hébergements pour Les plus populaires */ 
 text-decoration:none;
} 

#choix_populaires a{																/* Couleur des liens des cartes d'hébergements pour Les plus populaires */
color: black; 
}

#les_plus_populaires {															/* Titre les_plus_populaires */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#hébergements_populaires {													/* Disposition dans hébergements_populaires */
	display: flex;
	flex-direction: column;																					
	justify-content: space-between;
	height: 80%;
}

#hébergements_populaires article {									/* Cartes d'hébergements pour Les plus populaires */
	border: 1px solid #F2F2F2;
	background: white;
	padding: 5px 0px 2px 5px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px grey;
	width: 290px;
	height: 100px;
	display: flex;
	align-items: flex-start;
}

#hébergements_populaires article img{								/* Images des cartes d'hébergements pour Les plus populaires */
	flex: 1 1 40%;
	width: 32%;
	height: 98%;
	border-radius: 13px 0px 0px 13px;
}

#hébergements_populaires article .infos_hébergement{							/* Blocs infos des cartes d'hébergements pour Les plus populaires */
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15px;
	font-size: 75%;
}


#hébergements_marseille article note{								/* Notation dans les cartes d'hébergements */
	display: flex;
}


@media (min-width: 370px) and (max-width: 780px)
{
	
	#choix_populaires{
		width: 100%;
		padding: 0px 20px 20px 20px;
		border-radius: 0px;	
	}

	#les_plus_populaires {
		width: 100%;
		height: 50px;
	}
		
	#hébergements_populaires {
		width: 100%;
		padding-right: 10px;
	}

	#hébergements_populaires article {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 1.15em;
		height: 150px;
	}
}





/* Activités */

#activités{																					/* Disposition bloc activités */
	margin-top: 40px;
	margin-bottom: 20px;
	height: 500px;
	flex-wrap: wrap;
}

#blocs_activités {																	/* Disposition des éléments du bloc activités */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#activités a:link{														/* Aspect liens partie Activités */
	text-decoration:none;
} 

#activités a{																/* Couleur liens partie Activités */
	color: black; 
}

#blocs_activités div{																/* Disposition des éléments des blocs dans le bloc activités*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

#blocs_activités h3{																/* Ajustement taille et position des titres des éléments du bloc activités */
	font-size: 80%;
	margin-left: 10px;
}

.unique{																						/* Positionnement et aspect des colonnes à élément unique */
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 5px 5px 10px grey;
	width: 250px;
	height: 450px;
	flex-wrap: nowrap;
}

.unique img{																				/* Positionnement et aspect des photos dans les colonnes à élément unique */
	width: 100%;
	height: 90%;
	border-radius: 20px 20px 0px 0px;
	flex-wrap: wrap;

}

.double{																						/* Positionnement et aspect des colonnes à 2 éléments */
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 5px 5px 10px grey;
	width: 250px;
	height: 200px;
	flex-wrap: nowrap;
}

.double img{																				/* Positionnement et aspect des photos dans les colonnes à 2 éléments */
	width: 100%;
	height: 80%;
	border-radius: 20px 20px 0px 0px;
	flex-wrap: wrap;
}


@media (min-width: 370px) and (max-width: 780px)
{
	#activités{	
		width: 100%;
		margin-top: 20px;
	}

	#activités h2
	{
		margin-left: 20px;
	}

	#blocs_activités{
		width: 89%;
		display: flex;
		flex-direction: column;
		margin: 0px 20px 0px 20px;
	}

	#activités h2{	
		width: 100%;
		height: 50px;
	}

	#blocs_activités img{
		height: 80%;
	}

	#blocs_activités h3{
		font-size: 1.0em;
	}

	.unique{
		width: 100%;
		height: 200px;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.double{
		width: 100%;
		height: 200px;
		flex-direction: column;
		margin-bottom: 20px;
	}

}



/* Footer */

footer{																							/* Positionnement et comportement du footer */
	width: 100%;
	background: #F2F2F2;
	background-size: cover ;
	display: flex;
	flex-wrap: wrap;
}

footer div{																					/* Disposition des blocs d'éléments du footer */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: calc(80% / 3);
	margin-right: 30px;
	justify-content: flex-start;
}

footer h4{																					/* Aspect et positionnement des titres des blocs d'éléments du footer */
	font-weight: bold;
	margin: 20px 40px 0px 40px;
}

footer ul{																					/* Aspect des ul du footer */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer li{																					/* Comportement des li du footer */
	list-style: none;
	padding: 5px;
} 

@media (min-width: 370px) and (max-width: 780px)
{

	footer
	{
		flex-direction: column;
	}

	
	footer div
	{
		width: 100%;
	}

}